.manuel-control__wrapper {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 1rem;
}

.manuel-control * {
  cursor: pointer;
}

.manuel-control__label {
  margin-inline-start: 0.3rem;
}

.manuel-control__button {
  margin-inline-start: 2rem;

  &:hover {
    background-color: #bbb;
  }
}

.demo__list {
  display: flex;
  flex-direction: column;
}

.demo-button {
  padding: 10px 20px;
  color: #191919;
  background-color: #f0f0f0;
  border-radius: 5px;

  &.demo-button--primary {
    color: #fff;
    background-color: #007bff;
    border-radius: 20px;
  }
}

.demo-div {
  width: 100px;
  height: 100px;
  background-color: #ccc;
}
