.action-button {
  width: 150px;
  height: 40px;
  background-color: var(--color-neutral-light);
  border-radius: 5px;
  color: var(--color-secondary);

  &:disabled {
    color: var(--color-secondary);
    background-color: var(--color-neutral-light);
    cursor: not-allowed;
  }

  .action-button__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
  }
}
