.action-button {
  width: 150px;
  height: 40px;
  border-radius: 5px;

  &:disabled {
    cursor: not-allowed;
  }

  &--dark {
    color: var(--color-primary);
    background-color: var(--color-secondary);

    &:disabled {
      color: var(--color-primary);
      background-color: var(--color-secondary);
    }
  }

  &--light {
    color: var(--color-secondary);
    background-color: var(--color-primary);

    &:disabled {
      color: var(--color-secondary);
      background-color: var(--color-primary);
    }
  }

  .action-button__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
  }
}
